.commission {
	padding-bottom: 128px;
	&__container {
		background: url("../img/commission/map.png") no-repeat right 154px;
		padding-bottom: 178px;
		position: relative;
	}
	&__title {
		max-width: 437px;
	}
	&__list {
	}
	&__li {
		background-image: url("data:image/svg+xml,%3Csvg width='195' height='31' viewBox='0 0 195 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.5 28.001L28.1464 28.3545L28.2929 28.501L28.5 28.501L28.5 28.001ZM188.833 28.001C188.833 29.4737 190.027 30.6676 191.5 30.6676C192.973 30.6676 194.167 29.4737 194.167 28.001C194.167 26.5282 192.973 25.3343 191.5 25.3343C190.027 25.3343 188.833 26.5282 188.833 28.001ZM1 0.500977L0.646447 0.85453L28.1464 28.3545L28.5 28.001L28.8536 27.6474L1.35355 0.147423L1 0.500977ZM28.5 28.001L28.5 28.501L191.5 28.501L191.5 28.001L191.5 27.501L28.5 27.501L28.5 28.001Z' fill='url(%23paint0_linear_27_1455)' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_27_1455' x1='2' y1='1.50098' x2='96' y2='28.001' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0' /%3E%3Cstop offset='1' stop-color='white' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: left top;
		padding-top: 36px;
		padding-left: 32px;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #fff;
		span {
			display: block;
			font-size: 14px;
			line-height: 143%;
		}
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__text {
		position: absolute;
		right: 154px;
		bottom: -34px;
		max-width: 397px;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 24px;
		line-height: 133%;
		color: #fff;
	}
}

@media (max-width: 1030px) {
	.commission {
		&__container {
			background: none;
			padding-bottom: 0;
		}
		&__list {
			margin-bottom: 24px;
		}
		&__image {
			display: block;
			margin: 0 auto;
		}
		&__text {
			display: none;
		}
	}
}
