.footer {
	background: rgba(255, 255, 255, 0.01);
	border-top: 1px solid #f0f0f2;
	padding: 64px 0;
	&__row {
		display: flex;
		justify-content: space-between;
		gap: 104px;
	}
	&__left {
		display: flex;
		gap: 208px;
	}
	&__logos {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 40px;
		min-width: 200px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		a {
			&:hover {
				color: #9090bd;
			}
			&:active {
				color: #7c72af;
			}
		}
	}
	&__li {
		padding: 8px 0;
	}
	&__address {
		max-width: 258px;
		display: flex;
		flex-direction: column;
		gap: 40px;
		address {
			font-style: normal;
		}
	}
	&__button {
		width: 219px;
		height: 49px;
		background: url("../img/footer/button.svg") no-repeat 0 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 1030px) {
	.footer {
		&__row {
			gap: 40px;
		}
		&__left {
			gap: 100px;
		}
	}
}

@media (max-width: 768px) {
	.footer {
		padding-top: 32px;
		padding-bottom: 32px;
		&__row {
			flex-direction: column;
			gap: auto;
		}
		&__left {
			flex-direction: column;
			gap: 56px;
			align-items: center;
		}
		&__logos {
			max-width: 230px;
		}
		&__list {
			text-align: center;
		}
		&__address {
			text-align: center;
			margin: 0 auto;
		}
		&__button {
			margin: 0 auto;
		}
	}
}
