.license {
	&__row {
		display: flex;
		align-items: center;
		gap: 32px;
	}
	&__item {
	}
	&__title {
		margin-bottom: 24px;
	}
	&__text {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #fff;
	}
	&__image {
	}
}

@media (max-width: 1030px) {
	.license {
		&__image {
			max-width: 400px;
		}
	}
}
@media (max-width: 768px) {
	.license {
		&__title {
			text-align: center;
		}
		&__row {
			flex-direction: column;
		}
		&__image {
			max-width: 100%;
		}
	}
}
