#menu {
	display: flex;
	justify-content: center;
	gap: 10px;
	cursor: pointer;
	padding-top: 24px;
	border-bottom: 1px solid #c8d8ff;
	li {
		flex: 1 1 361px;
		max-width: 361px;
		background: #424289;
		border-radius: 20px 20px 0 0;
		padding: 16px 16px 18px 16px;
		text-align: center;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 137%;
		text-align: center;
		color: #c8d8ff;
		&.tab__active {
			background: #221938;
			border-left: 1px solid #c8d8ff;
			border-right: 1px solid #c8d8ff;
			border-top: 1px solid #c8d8ff;
			margin-bottom: -1px;
		}
	}
}
#container {
	background: linear-gradient(
		180deg,
		rgba(34, 22, 50, 0.5) 0%,
		rgba(32, 40, 102, 0.2) 62.91%,
		rgba(37, 53, 130, 0) 100%
	);
}
.tab__content {
	display: none;
	&.visible {
		display: block;
	}
}
