:root {
	--fon: #221b3f;
	--text: #fdf8ff;
	--main-text-color: #fff;
	--main-title-color: #c8d8ff;

	--font-family: "Unbounded", sans-serif;
	--second-family: "Inter", sans-serif;
	--third-family: "Noto Sans", sans-serif;
}
